$xs: "(max-width: 575.9px)";
$sm: "(min-width: 576px)";
$md: "(min-width: 768px)";
$lg: "(min-width: 992px)";
$xl: "(min-width: 1200px)";
$xxl: "(min-width: 1400px)";
:root {
    --time-transition: 0.3s;
    --time-long: 1s;
    --c-white-main: #fff;
    --c-black-main: #1c1d1d;
    --c-black-hover: #00000099;
    --c-white-bg-main: #f5efe682;
    --c-gray-main: #808080f0;
    --c-link-main: #271776ca;
    --c-link-second: #9083d5;
}
